<div>
    <p>
        Hello
        <strong>{{ patient.user.first_name }} {{ patient.user.last_name }}</strong>,
    </p>
    <p>
        Your {{appointment.appointment_type}} appointment with
        <strong>Dr. {{doctor.user.first_name}} {{doctor.user.last_name}}</strong>
        is {{appointment.appointment_status}}.
    </p>
    {% if appointment.appointment_status == 'Running' and appointment.appointment_type == 'Online' %}
    <p>
        Please join. Meet link:
        <a href="{{doctor.meet_link}}" target="_blank">{{doctor.meet_link}}</a>
    </p>
    {% else %}
    <p>
        Please ensure you are present at the appointment location and have any
        necessary documents or information ready.
    </p>
    {% endif %}
    <p>Thank you! <br /><strong>HealthOps Connect</strong></p>
</div>