{% extends 'base.html' %}

{% block title %}Doctor Details{% endblock %}

{% block content %}

<div class="max-w-4xl mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-4">Doctor Details</h1>
    <div class="bg-blue-50 rounded-lg shadow-md overflow-hidden">
        <div class="px-6 py-8 text-center">
            <h2 class="text-2xl font-bold mb-4">Dr. {{ doctor.user.first_name }} {{ doctor.user.last_name }}</h2>
            <img src="{{ doctor.image.url }}" alt="{{ doctor.user.first_name }}" class="w-44 h-auto mb-4 m-auto">
            <p class="text-gray-700 mb-4"><strong>Designations:</strong>
                {% for designation in doctor.designation.all %}
                {{ designation.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
            <p class="text-gray-700 mb-4"><strong>Expertise:</strong>
                {% for expertise in doctor.expertise.all %}
                {{ expertise.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
            <p class="text-gray-700 mb-4"><strong>Fee:</strong> ${{ doctor.fee }}</p>
            {% if request.user.patient.user_type == 'Patient' %}
            <a class="inline-block font-medium text-sm px-4 py-2 leading-none bg-blue-700 rounded text-white hover:border-transparent hover:bg-blue-800 mt-2 lg:mt-0"
                href="{% url 'take_appointment' doctor.id %}">Take Appointment</a>
            {% else %}
            <p class="italic">Only a patient can take an appointment!</p>
            {% endif %}
        </div>
    </div>

    <div class="max-w-4xl mx-auto px-4 py-8">
        <h1 class="text-3xl font-bold mt-8 mb-4">Reviews</h1>
        <p class="text-gray-700 mb-4"><strong>Total Reviews:</strong> {{ reviews | length }}</p>
        <div class="w-full">
            {% if request.user.is_authenticated %}
            {% if request.user.patient == appointment.patient and doctor == appointment.doctor %}
            <div class="bg-gray-100 p-6 rounded-lg shadow-md mb-5">
                <h3 class="text-xl font-bold mb-2">Post a Review</h3>
                <form method="post" action="" class="space-y-4">
                    {% csrf_token %}
                    <div>
                        <label for="rating" class="block text-gray-700 font-bold mb-2">Rating:</label>
                        <select name="rating" id="rating"
                        class="block w-full bg-gray-100 border border-gray-300 rounded py-2 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                        <option value="★☆☆☆☆">★☆☆☆☆</option>
                        <option value="★★☆☆☆">★★☆☆☆</option>
                            <option value="★★★☆☆">★★★☆☆</option>
                            <option value="★★★★☆">★★★★☆</option>
                            <option value="★★★★★">★★★★★</option>
                        </select>
                    </div>
                    <div>
                        <label for="body" class="block text-gray-700 font-bold mb-2">Review:</label>
                        <textarea name="body" id="body" rows="5"
                        class="resize-none block w-full bg-gray-100 border border-gray-300 rounded py-2 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"></textarea>
                    </div>
                    <button type="submit"
                    class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Submit
                    Review</button>
                </form>
            </div>
            {% else %}
            <p class="text-center">To provide a review, you must schedule an appointment with this doctor.</p>
            {% endif %}
            {% else %}
            <p class="text-center">To provide a review, you must be logged in.</p>
            {% endif %}
            {% for review in reviews %}
            <div class="bg-gray-100 p-6 rounded-lg shadow-md mb-5">
                <h3 class="text-xl font-bold mb-2">{{ review.reviewer.user.first_name }}
                    {{review.reviewer.user.last_name }}</h3>
                <p class="text-gray-700 mb-4"><strong>Rating:</strong> {{ review.rating }}</p>
                <p class="text-gray-700 mb-4">{{ review.body }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>
{% endblock %}