{% extends 'base.html' %}

{% block title %}Patient Profile{% endblock %}

{%block content %}
<div class="container mx-auto px-4 py-8 text-center">
    <h1 class="text-2xl font-bold mb-4">Profile</h1>
    <img src="{{ user.patient.image.url }}" alt="{{ user.get_full_name }}" class="rounded-full h-24 w-24 mb-4 m-auto" />
    <p class="mb-4">Name: {{ user.get_full_name }}</p>
    <p class="mb-4">Email: {{ user.email }}</p>
    <p class="mb-4">Phone: {{ user.patient.phone }}</p>
    <h1 class="text-2xl font-bold mb-4">Appointments</h1>
    <p class="mb-4">Total Appointments: {{ appointments.count }}</p>

    <div class="overflow-x-auto">
        <table class="table-auto border-collapse border border-gray-400 w-full">
            <thead>
                <tr class="bg-gray-200">
                    <th class="px-4 py-2">Appointment ID</th>
                    <th class="px-4 py-2">Patient</th>
                    <th class="px-4 py-2">Doctor</th>
                    <th class="px-4 py-2">Type</th>
                    <th class="px-4 py-2">Status</th>
                    <th class="px-4 py-2">Symptoms</th>
                    <th class="px-4 py-2">Time</th>
                    <th class="px-4 py-2">Cancellation</th>
                </tr>
            </thead>
            <tbody>
                {% for appointment in appointments %}
                <tr>
                    <td class="border px-4 py-2">{{ appointment.id }}</td>
                    <td class="border px-4 py-2">{{ appointment.patient }}</td>
                    <td class="border px-4 py-2">{{ appointment.doctor }}</td>
                    <td class="border px-4 py-2">
                        {{ appointment.get_appointment_type_display }}
                    </td>
                    <td class="border px-4 py-2">
                        {% if appointment.appointment_status == 'Pending' %}
                        <span class="text-yellow-500">{{ appointment.get_appointment_status_display }}</span>
                        {% elif appointment.appointment_status == 'Running' %}
                        <span class="text-green-500">{{ appointment.get_appointment_status_display }}</span>
                        {% elif appointment.appointment_status == 'Completed' %}
                        <span class="text-blue-500">{{ appointment.get_appointment_status_display }}</span>
                        {% else %}
                        <span class="text-red-500">{{ appointment.get_appointment_status_display }}</span>
                        {% endif %}
                    </td>
                    <td class="border px-4 py-2">{{ appointment.symptoms }}</td>
                    <td class="border px-4 py-2">
                        {{ appointment.appointment_time }}
                    </td>
                    <td class="border px-4 py-2">
                        <!-- user can cancel appointment if its not running -->
                        {% if appointment.appointment_status == 'Pending' %}
                        <form action="{% url 'cancel_appointment' appointment.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="bg-red-400 hover:bg-red-500 text-white px-2 rounded">
                                ✗
                            </button>
                        </form>
                        {% else %}
                        <button class="bg-gray-400 text-white px-2 rounded" disabled>
                            ✗
                        </button>
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="8" class="border px-4 py-2">
                        No appointments found.
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}