{% load static %}

<footer class="bg-blue-900 text-white py-5 px-10 rounded-lg">
    <div class="container mx-auto flex flex-col md:flex-row justify-between items-center px-1">
        <div class="mb-8 md:mb-0">
            <h2 class="text-lg font-semibold mb-4">Contact Us</h2>
            <ul>
                <li>Email: contact@healthopsconnect.com</li>
                <li>Phone: +123-456-7890</li>
                <li>Address: 123 Street, City, Country</li>
            </ul>
        </div>
        <div>
            <h2 class="text-lg font-semibold mb-4 md:mb-0 md:mr-8">Follow Us</h2>
           <div class="flex gap-3">
            <a href="https://github.com/junaaid96">
                <img src="{% static 'icons/github.png' %}" alt="github" class="w-5"/>
            </a>
            <a href="https://www.linkedin.com/in/md-junaidul-islam/">
                <img src="{% static 'icons/linkedin.png' %}" alt="linkedin" class="w-5"/>
            </a>
           </div>
        </div>
    </div>
    <div class="mt-8 text-center">
        <p>&copy; 2024 HealthOPS Connect. All rights reserved.</p>
    </div>
</footer>
